/* Reset */
*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  color:#101010;
  font-family: 'Pretendard', sans-serif;
  font-size:62.5% !important;
  letter-spacing:-0.02em;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
  animation:entry .3s ease forwards;
  opacity: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-size:1.6rem;
}

a {
  color:inherit;
  outline: none;
  text-decoration: none;
}

ol,ul {
  list-style: none;
}

b, strong {
  font-weight:700;
}

img {
  max-width:100%;
}

button {
  font-family:inherit;
  background-color:transparent;
  border:none;
  outline:none;
  cursor:pointer;
}

select {
  outline: none;
  border:1px solid transparent;
  font-family:inherit;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  background-color:#fff;
  background-size:16px auto;
  background-image: url('/child/img/inc/select.png');
  background-repeat:no-repeat;
  background-position:right 15px center;
}

input, textarea {
  font-family:inherit;
  outline: none;
  border:1px solid transparent
}

:focus{
  outline:none;
}

::placeholder {
  color:#999999;
}

@-webkit-keyframes entry {
    to{opacity: 1;}
}

@keyframes entry {
    to{opacity: 1;}
}

@media screen and (max-width:1200px) {

}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {
  select {
    background-size:12px auto;
    background-position:right 12px center;
  }
}
@media screen and (max-width:576px) {

}


/* Overflow */
.hidden {
  overflow: hidden;
}


/* Display */
.sp{display:none;}
.mo{display:none;}

@media screen and (max-width:992px){
  .sp{display:block;}
  .pc{display:none;}
}

@media screen and (max-width:768px){
  .tb{display:none;}
  .mo{display:block;}
}


/* Block */
.d-none {
  display: none;
}

/* Ellip */
.ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* Blind */
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}


/* Font Family */
.font-family--montserrat {
  font-family: 'Montserrat',sans-serif;
}

/* Font Weight */
.font-weight--semibold {
  font-weight:600;
}

.font-weight--bold {
  font-weight:700;
}

/* Font Color */
.color-red {
  color:#fb0b0b;
}

/* Text Align */
.text-center {
  text-align: center;
}

/* Text Color */



/* Button */
.button {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  border:1px solid transparent;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  cursor: pointer;
  border-radius:10px;
}

.button--yellow {
  color:#202020;
  background-color: #ffde04;
}

.button--blue {
  color:#fff;
  background-color: #2a56b6;
}

.button--gray3 {
  color:#fff;
  background-color: #3d3d3d;
}

.button--lineblue {
  color:#2a56b6;
  border-color:#2a56b6;
}

@media screen and (min-width:1201px) {
  .button--yellow:hover {
    background-color: #ffea60;
  }

  .button--blue:hover {
    background-color: #123888;
  }

  .button--gray3:hover {
    background-color: #171717;
  }

  .button--lineblue:hover {
    color:#fff;
    background-color: #123888;
  }
}
@media screen and (max-width:1200px) {

}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:576px) {

}


/* Container */
.container {
  max-width:1310px;
  width:100%;
  margin:0 auto;
  padding:0px 15px;
}

.container--w1600 {
  max-width:1630px;
}

/* Wrap */
.wrap--main {
  padding-top:152px;
}

.wrap--sub {
  padding-top:152px;
}

@media screen and (max-width:1200px) {
  .wrap--main {
    padding-top:60px;
  }
  
  .wrap--sub {
    padding-top:60px;
  }
}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {

}
@media screen and (max-width:576px) {

}

/* `ssh Customazing */
body {
  background-color: #ffe02d;
}





