/* Header */
#header {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:99999;
}

#header .h_pc {
  display: block;
}

#header .h_mo {
  display: none;
  height:60px;
}

#header .h_util {
  background-color: #2a56b6;
  padding:10px 0px;
}

#header .h_util__wrap {
  max-width:1760px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header .h_util__link {
  display: flex;
  margin:0px 30px;
}

#header .h_util__link li {
  padding:0px 20px;
  position: relative;
}

#header .h_util__link li::after {
  content:"";
  display: block;
  position: absolute;
  top:50%;
  right:0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width:1px;
  height:10px;
  background-color: #fff;
}

#header .h_util__link li:last-child::after {
  display: none;
}

#header .h_util__link a {
  display:block;
  font-size:1.4rem;
  color:#ffff;
}

#header .h_util__sns {
  display: flex;
  align-items: center;
  margin:0px -8px;
}

#header .h_util__sns li {
  padding:0px 8px;
}

#header .h_util__sns a {
  display: block;
  font-size:0px;
  text-align: center;
}

#header .h_main {
  width:100%;
  background-color: #fff;
  border-bottom:1px solid #ccc;
}

#header .h_main__wrap {
  max-width:1280px;
  width:100%;
  height:100%;
  margin:0 auto;
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .h_main__ct {
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

#header .h_logo {
  width:277px;
  height:64px;
}

#header .h_logo a {
  display: block;
  width:100%;
  height:100%;
  background: url('./h_logo.svg') no-repeat center;
}

#header .h_menu {
  display:flex;
  position:relative;
  margin:0px -45px;
}

#header .h_menu__list {
  padding:45px;
  position: relative;
}

#header .h_menu__link {
  font-size:2rem;
  font-weight:500;
  line-height:1;
  color:#2a56b6;
}

#header .h_menu__link h2 {
  font-size: inherit;
  font-weight:inherit;
  line-height: inherit;
  color:inherit;
}

#header .h_submenu {
  position: absolute;
  top:100%;
  left:50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width:100%;
  padding:25px 0px;
  z-index:10;
  opacity:0;
  visibility: hidden;
  -webkit-transition:all .15s ease-out;
  transition:all .15s ease-out;
}

#header .h_submenu li {
  text-align: center;
  white-space: nowrap;
  padding:15px 0px;
}

#header .h_submenu a {
  font-size:1.8rem;
  font-weight:500;
  color:#343434;
}

#header .h_bg {
  position:absolute;
  top:100%;
  width:100%;
  min-height:310px;
  height:100%;
  background-color: #fff;
  opacity:0;
  visibility: hidden;
  -webkit-transition:all .3s ease-out;
  transition:all .3s ease-out;
}


@media screen and (min-width:1201px) {
  #header[data-menu = "on"] .h_submenu {
    opacity:1;
    visibility: visible;
  }

  #header[data-menu = "on"] .h_bg {
    opacity:1;
    visibility: visible;
  }
}
/* `ssh - 모바일 */
@media screen and (max-width:1200px) {
  #header {
    position: fixed;
    box-shadow: 0px 1px 3px 0px rgb(25,25,25,.1);
    background-color: #fff;
  }

  #header .h_pc {
    display: none;
  }
  
  #header .h_mo {
    display: block;
  }

  #header .h_logo {
    position: absolute;
    top:14px;
    left:15px;
    width:140px;
    height:32px;
  }

  #header .h_logo a {
    background-size:auto 32px;
  }

  /* `ssh - 햄버거 클릭전 기본상태*/
  #header .h_main {
    display: block;
    overflow-y: auto;
    z-index: 99999;
    position: fixed;
    
    /* 좌에서 우로 */
    top: 0;
    right: -100%;

    /* 위에서 아래로 */
    /* top: -100%;
    right: 0; */

    width: 50%;

    max-width:100%;
    height:100%;
    padding: 70px 20px;
    background-color: #fff;
    -webkit-transition: all ease .35s;
    transition: all ease .35s;
    margin: 0px;
    border:0px;
  }

  #header .h_main__inner {
    margin:-10px 0px;
  }

  #header .h_menu {
    display: block;
    margin:0px;
  }

  #header .h_menu__list {
    padding:0px;
  }
  
  #header .h_menu__link {
    display: block;
    font-size:1.8rem;
    padding:5px 0px;
    margin:10px 0px;
    position: relative;
  }

  #header .h_menu__link::before,
  #header .h_menu__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    margin-top: -1px;
    background-color:#2a56b6;
    height: 2px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  #header .h_menu__link::before {
    z-index: 2;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
  }

  #header .h_menu__link[aria-toggle="true"]::before {
    background: #2a56b6 !important;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  #header .h_menu__link[aria-toggle="true"]::after {
    opacity: 0;
    background: #2a56b6 !important;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #header .h_submenu {
    position: static;
    min-width:100%;
    top:unset;
    left:unset;
    transform: none;
    background-color: transparent;
    margin:-15px 0px 15px;
    padding:0px;
    height:auto;
    max-height:0px;
    min-height:inherit;
    text-align: left;
  }

  #header .h_submenu li {
    padding:0px;
    text-align: left;
  }

  #header .h_submenu a {
    display: inline-block;
    font-size:1.7rem;
    padding:8px 0px;
  }

  #header .h_main__util {
    padding-top:20px;
    margin-top:40px;
    border-top:1px solid #e7e7e7;
  }

  #header .h_util__link {
    display: block;
    margin:0px;
  }

  #header .h_util__link li {
    padding:0px;
  }

  #header .h_util__link a {
    display: inline-block;
    font-size:1.3rem;
    color:#aaa;
    padding:6px 0px;
  }

  #header .h_util__sns {
    margin:20px 0px 0px;
  }

  #header .h_util__sns li {
    width:32px;
    height:32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #2a56b6;
    padding:0px;
    margin:0px 4px;
  }

  /* `ssh - 햄버거 클릭시 */
  #header[data-header-mobile = "on"] .h_main {
    /* 좌에서 우로 */
    right:0;

    /* 위에서 아래로 */
    /* top:0; */
  }

  #header .h_menu__link[aria-toggle="true"] + .h_submenu {
    max-height:220px;
    margin-top:-5px;
    opacity: 1;
    visibility: visible;
  }

  body {
    transition: .5s;
  }
  body[data-hamburger-effect = "on"] {
    background-color: #0000007e;    
  }
}
@media screen and (max-width:992px) {

}
@media screen and (max-width:768px) {
  #header .h_menu__link {
    font-size:1.7rem;
  }

  #header .h_submenu a {
    font-size:1.5rem;
  }
}
@media screen and (max-width:576px) {
  #header .h_menu__link {
    font-size:1.5rem;
  }

  #header .h_submenu a {
    font-size:1.4rem;
  }

  #header .h_util__sns li img {
    width:90%;
  }
}


/* Header Mobile */
#header .h_mobile {
  display: none;
  position:absolute;
  top:0;
  right:0;
  width:60px;
  height:60px;
  z-index:100000;
}

#header .h_mobile__btn {
  display:inline-block;
  position:relative;
  width:100%;
  height:100%;
}

#header .h_mobile__btn span {
  position:relative;
  margin:0 auto;
}

#header .h_mobile__btn span::before,
#header .h_mobile__btn span::after {
  content:'';
  position:absolute;
}

#header .h_mobile__btn span,
#header .h_mobile__btn span::before,
#header .h_mobile__btn span::after {
  display: block;
  width:25px;
  height:3px;
  background-color:#000;
}

#header .h_mobile__btn span::before {
  margin-top:-8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

#header .h_mobile__btn span::after {
  margin-top:8px;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

#header .h_mobile__btn[aria-pressed="true"] span {
  background-color: rgba(0,0,0,0) !important;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#header .h_mobile__btn[aria-pressed="true"] span::before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

#header .h_mobile__btn[aria-pressed="true"] span::after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

@media screen and (max-width:1200px) {
  #header .h_mobile {
    display:block;
  }  
}

